* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #444;
    font-family: 'Ubuntu', 'Roboto', 'Arial';
    font-size: 14px;
    color: #fff;
}

h1 {
    padding: 20px;
}

canvas {
    display: block;
    width: 800px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin: 0 auto;
}
